@media screen and (max-width: 1440px){

}
@media screen and (max-width: 1300px){
    
}
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1023px){
    
}
@media screen and (max-width: 767px){
    .bq-web .nav-pills .nav-item{
        width: 100%;
    }
    .bq-web .accordion-box .card .card-header .header-text{
        font-size: 16px;
    }
    .bq-web .nav-pills .nav-item{
        border-right: 0px;
    }
    .bq-web .accordion-box .card .card-body {
        padding: 20px 0px;
    }
    .bq-web .accordion-box .card .card-body p{
        padding: 0px 20px;
    }
}
@media screen and (max-width: 479px){
    
}
@media screen and (max-width: 320px){
    
}