@media screen and (max-width: 1440px){

}
@media screen and (max-width: 1300px){
    
}
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1023px){
    
}
@media screen and (max-width: 767px){
    .bq-web .nav-pills .nav-item{
        width: 100%;
    }
    .bq-web .accordion-box .card .card-header .header-text{
        font-size: 16px;
    }
    .bq-web .nav-pills .nav-item{
        border-right: 0px;
    }
    .bq-web .accordion-box .card-body.inner-space{
        padding: 4px 20px 34px 20px;
    }
    .bq-web .accordion-box .card .card-header{
        height: auto;
    }
  
}
@media screen and (max-width: 479px){
    
}
@media screen and (max-width: 320px){
    
}