/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===================================== */
/* styling */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.bq-web {
  background-color: white;
}
.bq-web .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  padding: 0px 30px;
}
.bq-web h1 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.bq-web h2 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}
.bq-web a {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.bq-web p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.bq-web .common-btn {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: left;
  width: 100%;
  height: 52px;
  border-radius: 5px;
  background-color: hsl(219, 78%, 18%);
}
.bq-web .header-area {
  padding: 24px 0px;
}
.bq-web .course-area {
  padding: 60px 0px;
}
.bq-web .nav-pills {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.bq-web .nav-pills .nav-item {
  border-right: 1px solid hsl(0, 0%, 74%);
  width: 25%;
}
.bq-web .nav-pills .nav-item:nth-child(4) {
  border-right: 0px;
}
.bq-web .nav-pills .nav-item .nav-link {
  width: 100%;
  height: 52px;
  border-radius: 0px 0px;
  opacity: 0px;
  background-color: hsl(210, 100%, 97%);
  transition: all 0.3s ease;
}
.bq-web .nav-pills .nav-item .nav-link.active {
  background-color: hsl(219, 78%, 18%);
}
.bq-web .nav-pills .nav-item .nav-link.active .tab-box .text::before {
  filter: invert(1);
}
.bq-web .nav-pills .nav-item .nav-link:hover {
  background-color: hsl(219, 78%, 18%);
}
.bq-web .nav-pills .nav-item .nav-link:hover .tab-box .text {
  color: white;
}
.bq-web .nav-pills .nav-item .nav-link:hover .tab-box .text::before {
  filter: invert(1);
}
.bq-web .nav-pills .nav-item .nav-link .tab-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bq-web .nav-pills .nav-item .nav-link .tab-box .text {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-left: 14px;
  color: hsl(0, 0%, 23%);
  position: relative;
}
.bq-web .nav-pills .nav-item .nav-link .tab-box .text.curriculum::before {
  content: url(../icons/des.png);
}
.bq-web .nav-pills .nav-item .nav-link .tab-box .text.des::before {
  content: url(../icons/des.png);
}
.bq-web .nav-pills .nav-item .nav-link .tab-box .text.reviews::before {
  content: url(../icons/reviews.png);
}
.bq-web .nav-pills .nav-item .nav-link .tab-box .text.ins::before {
  content: url(../icons/instructor.png);
}
.bq-web .nav-pills .nav-item .nav-link .tab-box .text::before {
  content: url(../icons/arrow-up.png);
  top: 2px;
  bottom: 0;
  left: -30px;
  filter: invert(0);
  margin-right: 10px;
  position: absolute;
}
.bq-web .nav-pills .nav-item .nav-link.active .text {
  color: hsl(0, 0%, 100%);
}
.bq-web .accordion-box .card {
  border: 0px;
  background-color: transparent;
  transition: all 0.3s ease;
}
.bq-web .accordion-box .card.inner-border {
  border: 1px solid hsl(0, 0%, 95%);
  background-color: white;
}
.bq-web .accordion-box .card.flush {
  border: 0px;
}
.bq-web .accordion-box .card .card-header {
  height: 67px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid hsl(209, 100%, 95%);
  transition: all 0.3s ease;
}
.bq-web .accordion-box .card .card-header.blue {
  background-color: hsl(210, 100%, 97%);
}
.bq-web .accordion-box .card .card-header.flush {
  border: 0px;
  padding: 0px 20px;
}
.bq-web .accordion-box .card .card-header .header-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: hsl(219, 78%, 18%);
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.bq-web .accordion-box .card .card-header .header-text.flush {
  background-color: transparent;
  border: none;
}
.bq-web .accordion-box .card .card-header .header-text.collapsed img {
  transform: rotate(180deg);
  transition: all 0.3s ease;
}
.bq-web .accordion-box .card .card-header .header-text .head-iconbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.bq-web .accordion-box .card .card-header .header-text .icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: hsl(0, 0%, 0%);
}
.bq-web .accordion-box .card .card-header .header-text .icon-text img {
  margin-right: 15px;
  transition: all 0.3s ease;
}
.bq-web .accordion-box .card .card-header .header-text .head-wholebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bq-web .accordion-box .card .card-header .header-text .head-wholebox .icon-textbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bq-web .accordion-box .card .card-header .header-text .head-wholebox .icon-textbox .text {
  margin-left: 15px;
}
.bq-web .accordion-box .card-body .common-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  border: 1px solid;
}
.bq-web .accordion-box .card-body .common-btn img {
  margin-left: 15px;
}
.bq-web .accordion-box .card-body.inner-space {
  padding: 4px 50px 14px 50px;
  border-bottom: 1px solid hsl(0, 0%, 91%);
}
.bq-web .accordion-box .card-body p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: hsl(0, 0%, 23%);
}
.bq-web .accordion-box .card-body hr {
  color: hsl(0, 0%, 91%);
  height: 1px;
  border: 1px solid;
}
.bq-web .accordion-box .card-body a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: left;
  color: hsl(0, 0%, 5%);
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.bq-web .accordion-box .card-body a img {
  margin-right: 15px;
}/*# sourceMappingURL=style.css.map */